---
http_interactions:
- request:
    method: get
    uri: https://s3-eu-west-1.amazonaws.com/olio-staging-images/developer/test-articles-v4.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 33597J4R0JTDRXZ3
      Last-Modified:
      - Tue, 05 Jan 2021 13:13:11 GMT
      Etag:
      - '"b6b94be00bff046fe3ba47fe9a41773e"'
      X-Amz-Version-Id:
      - 8yjMsoigwzN8ZPvRVQVuHG7a8ZRDlVB8
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "id": 3899631,
                "title": "Ambipur air freshener plugin",
                "description": "Device only but refills are available most places",
                "donation_description": "",
                "collection": {
                    "id": 0
                },
                "section": "product",
                "location": {
                    "latitude": 51.7645,
                    "longitude": -3.79131,
                    "distance": 0,
                    "town": "Ystalyfera",
                    "country": "United Kingdom"
                },
                "collection_notes": "Any time!",
                "value": {
                    "price": 0,
                    "currency": "USD",
                    "payment_type": "no_payment_type"
                },
                "created_at": "2020-12-12T10:49:18.000Z",
                "updated_at": "2020-12-12T10:49:18.000Z",
                "status": "active",
                "expiry": "2021-04-09T10:49:15.000Z",
                "reactions": {
                    "likes": 0,
                    "by_user": false,
                    "views": 18,
                    "impressions": 3571
                },
                "is_owner": true,
                "conversations": {
                    "linked": 0,
                    "request_id": null
                },
                "photos": [
                    {
                        "uid": "00gRGrBRDFYrR2j-9SJVYg",
                        "files": {
                            "original": "https:\/\/cdn.olioex.com\/uploads\/photo\/file\/00gRGrBRDFYrR2j-9SJVYg\/image.jpg",
                            "large": "https:\/\/cdn.olioex.com\/uploads\/photo\/file\/00gRGrBRDFYrR2j-9SJVYg\/large_image.jpg",
                            "medium": "https:\/\/cdn.olioex.com\/uploads\/photo\/file\/00gRGrBRDFYrR2j-9SJVYg\/medium_image.jpg",
                            "small": "https:\/\/cdn.olioex.com\/uploads\/photo\/file\/00gRGrBRDFYrR2j-9SJVYg\/small_image.jpg"
                        },
                        "dimensions": {
                            "width": 720,
                            "height": 960
                        }
                    }
                ],
                "images": [
                    {
                        "uid": "00gRGrBRDFYrR2j-9SJVYg",
                        "files": {
                            "original": "https:\/\/cdn.olioex.com\/uploads\/photo\/file\/00gRGrBRDFYrR2j-9SJVYg\/image.jpg",
                            "large": "https:\/\/cdn.olioex.com\/uploads\/photo\/file\/00gRGrBRDFYrR2j-9SJVYg\/large_image.jpg",
                            "medium": "https:\/\/cdn.olioex.com\/uploads\/photo\/file\/00gRGrBRDFYrR2j-9SJVYg\/medium_image.jpg",
                            "small": "https:\/\/cdn.olioex.com\/uploads\/photo\/file\/00gRGrBRDFYrR2j-9SJVYg\/small_image.jpg"
                        },
                        "dimensions": {
                            "width": 720,
                            "height": 960
                        }
                    }
                ],
                "user": {
                    "id": 8039,
                    "first_name": "Lloyd",
                    "current_avatar": {
                        "original": "https:\/\/cdn.olioex.com\/uploads\/avatar\/file\/oZq8DF3dzLEi3Fnf4XxMrg\/image.jpg",
                        "large": "https:\/\/cdn.olioex.com\/uploads\/avatar\/file\/oZq8DF3dzLEi3Fnf4XxMrg\/large_image.jpg",
                        "small": "https:\/\/cdn.olioex.com\/uploads\/avatar\/file\/oZq8DF3dzLEi3Fnf4XxMrg\/small_image.jpg"
                    },
                    "roles": [
                        "Consumer",
                        "Food Waste Hero",
                        "Volunteer",
                        "Administrator"
                    ],
                    "location": {
                        "latitude": 51.7645,
                        "longitude": -3.79133
                    },
                    "rating": {
                        "rating": 10,
                        "number": 15
                    },
                    "verifications": [
                        {
                            "method": "sms"
                        },
                        {
                            "method": "facebook"
                        }
                    ]
                },
                "first": false,
                "last_listed": "2020-12-12T10:49:18.000Z",
                "pickups": {
                    "multiple": false,
                    "users": [],
                    "items": 1
                },
                "veteran_delay": 0
            },
            {
                "id": 3899634,
                "title": "Epson Stylus Printer Cartridges",
                "description": "7 X T0714 (yellow)\n4 X T0711 (black)\n1 X E712 (cyan)\n4 X E713 \/ T0713 (magenta)\n\n",
                "donation_description": "",
                "collection": {
                    "id": 0
                },
                "section": "product",
                "location": {
                    "latitude": 51.764465,
                    "[...]
